<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Struk Belanja</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Struk Pembelian</div>
        <hr>
        <table border="2">
        <tr>
            <th>Nama Sayur</th>
            <th>Harga Per(Kg)</th>
            <th>Qty (Kg)</th>
            <th>Subtotal (Rp)</th>
            <th>Besar Diskon (%)</th>
            <th>Total Harga Diskon (Rp)</th>
            <th>Total Harga (Rp)</th>
            <th>Jumlah Bayar (Rp)</th>
            <th>Uang Kembali (Rp)</th>
        </tr>
            <td th:text="${name}"></td>
            <td th:text="${price}"></td>
            <td th:text="${kilo}"></td>
            <td th:text="${total10}"></td>
            <td th:text="${disc}"></td>
            <td th:text="${hargadisc}"></td>
            <td th:text="${totalbayar}"></td>
            <td th:text="${jumlah}"></td>
            <td th:text="${kembali}"></td>
        </tr>

    </table>
    </body>
</html>
